<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Carrier Wave uses the microphone to decode CW (Morse code) audio from your radio.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Carrier Wave uses your location to determine your grid square for QSO logging.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Carrier Wave saves activation share cards to your photo library.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.adif.adi</string>
			<key>UTTypeDescription</key>
			<string>ADIF Log File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>adi</string>
					<string>adif</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
